.container {
   display: flex;
   align-items: center;
   padding-left: 6.25%;
   padding-right: 6.25%;
   padding: 3% 6.25%;
   box-sizing: border-box;
   background-color: #F7F7FC;
   box-shadow: inset 0px 10px 8px -4px rgba(17, 17, 17, 0.04);
}