.container {
  flex-direction: column;
  display: flex;
  align-self: normal;
}

.input {
   border: 0;
   border-bottom: 1px #14142B solid;
   outline: none;
   padding: 4px;
   font-size: 24px;
   color: #14142B;
   background-color: transparent;
}

.inputError {
   border-bottom: 1px red solid;
}

.label {
   color: #6E7191;
   font-size: 18px;
   letter-spacing: 1px;
}

.error {
   color: red;
   font-size: 12px;
   height: 20px;
}

.opacity0 {
   opacity: 0
}