.container {

   align-items: center;
   box-sizing: border-box;
   width: 100%;
}

.title {
   font-size: 36px;
}

.list {
   display: flex;
   flex-wrap: wrap;
}

.profileCard {
   margin-right: 5% ;

   margin-bottom: 5% ;
}