.container {
   width: 320px;
   height: 298px;
   border-radius: 16px;
   border: 1px solid #D6D8E7;
   box-sizing: border-box;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   -webkit-touch-callout: none; /* iOS Safari */
   -webkit-user-select: none;   /* Chrome/Safari/Opera */
   -khtml-user-select: none;    /* Konqueror */
   -moz-user-select: none;      /* Firefox */
   -ms-user-select: none;       /* Internet Explorer/Edge */
   user-select: none; 
   cursor: pointer;
}

.circle {
   width: 70px;
   height: 70px;
   border-radius: 50%;
   border: 1px solid #4E4B66;
   box-sizing: border-box;
   align-items: center;
   justify-content: center;
   display: flex;
}

.plus {
   width: 2px;
   height: 32px;
   position: absolute;
   background-color: #4E4B66;

}

.minus {
   width: 32px;
   height: 2px;
   position: absolute;
   background-color: #4E4B66;
}

.title {
   font-size: 20px;
   color: #4E4B66;
   margin-top: 6%;
} 